PORT = 3000

DB_ENABLED = false
DB_CLIENT=mysql
DB_HOST=localhost
DB_USERNAME=user
DB_PASSWORD=user
DB_NAME=user
DB_DEBUG=true

ES_ENABLED = false
ES_HOST = http://192.168.0.1:9200/
ES_AUTH_USERNAME = user
ES_AUTH_PASSWORD = user

ALLOWED_DOMAINS = "192.168.0.1:3000"